body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: monospace;
  background-color: #33363f;
}

main {
  display: flex;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background-color: #1b1d22;
}

#left-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 150px;
  border-right: 1px solid #33363f;
}

#computer-info, #player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  padding-left: 10px;
}

#computer-info {
  border-bottom: 1px solid #33363f;
}

.player { 
  color: hsl(24, 100%, 60%); 
  font-weight: bold;
}

#right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#player-select {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  width: 300px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.select img {
  align-self: center;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.select img:hover {
  animation-name: bounce;
  animation-timing-function: linear;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px) }
  100% { transform: translateY(0); }
}

#rock { width: 45px; }
#paper { width: 40px; }
#scissors { width: 40px; }

